<SVI>
<SVI_SPYGLASS_UC>
	<option data="enableRule=BlockHeader"/>
	<option data="enableRule=CheckDelayTimescale-ML"/>
	<option data="enableRule=InferLatch"/>
	<option data="enableRule=PragmaComments-ML"/>
	<option data="enableRule=ReserveName"/>
	<option data="enableRule=STARC05-2.2.3.1"/>
	<option data="enableRule=STARC05-2.3.4.1v"/>
	<option data="enableRule=STARC05-2.5.1.7"/>
	<option data="enableRule=STARC05-2.5.1.9"/>
	<option data="enableRule=UnrecSynthDir-ML"/>
	<option data="enableRule=W146"/>
	<option data="enableRule=W193"/>
	<option data="enableRule=W336"/>
	<option data="enableRule=W414"/>
	<option data="enableRule=W421"/>
	<option data="enableRule=W450L"/>
	<option data="enableRule=W464"/>
	<option data="enableRule=sim_race07"/>
	<option data="enableRule=LibNameOfTopModule"/>
	<option data="enableRule=UNPI"/>
	<option data="enableRule=IICD"/>
	<option data="enableRule=VC_WRN_COMPDIR_IGNORED"/>
	<option data="enableRule=VC_WRN_LINEDIR_LEVEL"/>
	<option data="enableRule=VC_SYNTH_IGNORED"/>
	<option data="enableRule=VC_WRN_ASGN_PATTERN"/>
	<option data="enableRule=VC_WRN_IFDEF_ENDIF"/>
	<option data="enableRule=VC_WRN_EARLY_EOF"/>
	<option data="setRuleParameter=PragmaComments-ML(ATTACH_VIOLATION_TAG)=no"/>
	<option data="setRuleParameter=PragmaComments-ML(PRAGMA_LIST_ML)=synopsys"/>
	<option data="setRuleParameter=W146(check_param_association)=yes"/>
	<option data="setRuleParameter=W336(CHECK_TEMPORARY_FLOP)=0"/>
	<option data="setRuleParameter=W336(FAST)=no"/>
	<option data="setRuleParameter=W336(IGNORECELLNAME)="/>
	<option data="setRuleParameter=W336(IGNORE_LOCAL_VARIABLES)=0"/>
	<option data="setRuleParameter=W336(TREAT_LATCH_AS_COMBINATIONAL)=yes"/>
	<option data="setRuleParameter=W414(FAST)=no"/>
	<option data="setRuleParameter=W414(TREAT_LATCH_AS_COMBINATIONAL)=yes"/>
	<option data="app_var=in_design_file=/home/ltthinh/PSRAM_CTRL/lint/vc_static/vcst_rtdb/.internal/design/inDesign.rpt"/>
</SVI_SPYGLASS_UC>
</SVI>
